/* START */
body {
    width: 100%;
    height: 100vh;
    padding: 2%;
    background: linear-gradient(45deg , black , dodgerblue , #000000e6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */
.btn_home {
    width: 50px;
    height: 50px;
    background: url(../Icons/Icons8-Home_White-96.png) no-repeat center center;
    background-size: cover;
    background-color: rgb(8, 8, 177);
    border-radius: 5px;
    position: absolute;
    top:5%;
    left: 21.5%;
}

/* MAIN */
/* panel */
.panel {
    width: 100%;
    height: 99vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.panel-image {
    width: 15%;
    margin: 5px 20px;
    box-shadow: 0px 0px 15px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.panel :nth-child(odd) {
    transform: rotate(-4deg);
    transition-duration: 0.25s;
}

.panel :nth-child(even) {
    transform: rotate(4deg);
}

.panel :nth-child(n):hover {
    transform: rotate(0deg);
}

.panel::-webkit-scrollbar {
    width: 20px;
    background-color: #0000004d;
    border-radius: 20px;
}

.panel::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg , black , dodgerblue);
    border-radius: 20px;
}

.panel::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg , black , rgb(3, 86, 169));
}

.bold {
    margin: 10px 0;
    box-shadow: 10px 10px 15px;
    transform: scale(1.08);
}

/* modal */
.modal {
    width: 60vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%,-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.modal-image {
    max-width: 75%;
    max-height: 80%;
    box-shadow: 0px 20px 35px;
    transition-duration: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}

/* btn */
.btn-next,
.btn-perv {
    width: 90px;
    height: 35px;
    margin: 0 10%;
    padding: 0 15px;
    border: unset;
    cursor: pointer;
    transform: translateY(-50%);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    transition-duration: 0.25s;
}

.btn-perv {
    border-radius: 50% 10px 10px 50%;
    text-align: right;
}

.btn-next {
    border-radius: 10px 50% 50% 10px;
    text-align: left;
}

/* Responsive */
@media (max-width:768px){
    .btn_home {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:480px){
    .panel::-webkit-scrollbar {
        width: 15px;
    }

    .modal {
        height: 70vh;
    }

    button {
        margin: 0 5%;
        transform: translateY(-25%) scale(0.8);
    }
}
/* THE END */