/* START */
/* Animation */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color: dodgerblue;
}

::selection {
    background-color: transparent;
}

/* site loader */
.site-loader {
    width: 100%;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    place-items: center;
    transition-duration: 1s;
}

.loader {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 10px solid var(--primary-color);
    border-top-color:  #333;
    animation: spin 1s linear infinite;
}

/* btn */
.btn {
    width: 100px;
    height: 35px;
    margin: 8px;
    background-color: rgb(8, 8, 177);
    border: unset;
    border-radius: 15px;
    box-shadow: 0 5px 8px black;
    cursor: pointer;
    color: white;
    transition-duration: 0.1s;
}

.btn:hover {
    background-color: rgb(25, 25, 220);
}

.btn:active {
    box-shadow: 0 0px 4px black;
}

/* FOOTER */
/* social media */
.social-media-item {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: no-repeat center center;
    background-size: 70%;
}

.facebook {
    background-image: url(../Icons/Facebook.png);
}

.instagram {
    background-image: url(../Icons/Instagram.png);
    background-size: 85%;
}

.twitter {
    background-image: url(../Icons/Twitter.png);
}

/* Responsive */
@media(max-width:768px){
    .loader {  
        height: 50px;
        width: 50px;
        border-width: 5px;
    }
}
/* THE END */